@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    margin-top: 0px;
}
.about_us_body{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: black;
}
.about_us_body legend{
    font-size: 40px;
    padding-bottom: 15px;
}
.mission_statement_text{
    border: solid;
    width:500px;
    margin-bottom: 15px;
}
.about_us_text{
    border: solid;
    width: 500px;
    padding: 15px;
}