@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body,html{
	height:100%;
	margin:0;
	font-family: "Montserrat";
}

.products-container{
	max-width: 650px;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 50px;
}

.product-header{
	width: 100%;
	max-width: 650px;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
}

.product-title{
	width: 45%;
	border-bottom: 4px solid lightgrey;
	align-items: center;
	display: flex;
}


.price {
	width: 15%;
	border-bottom: 4px solid lightgrey;
	align-items: center;
	display: flex;
}

.quantity{
	width: 30%;
	align-items: center;
	border-bottom: 4px solid lightgrey;
	display: flex;
}

.product{
	width:45%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	border-bottom: 4px solid lightgrey;
	display: flex;
}

.product ion-icon{
	cursor:pointer;
}

.products{
	width:100%;
	display: flex;
	flex-wrap: wrap;
}

.products img{
	width: 75px;
}

.basketTotalContainer{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 0;
}

.basketTotalTitle{
	width:60%;
}

.full-width{
  margin: 0;
  position: absolute;
  transform: translate(500%, -40%);
}

.checkout{
	border: none;
	background: #22b877;
	line-height: 2em;
	border-radius: 8px;
	font-size: 19px;
	color: #fff;
	cursor: pointer;
	bottom: 25px;
	width: 100%;
	text-decoration: none;
}

.checkout:hover{
	background: #F0E68C;
	color: black;
}

.pay_btn_table{
	margin: 190px;
	padding-top: 160px;
}
