body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

.bg{
	background: url(../images/contact.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center;
}

.box{
	width: 600px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
	text-align: center;
	z-index:999;
	background: rgba(255,255,255,0.04);
	box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}



.box h3{
	color: White;
	font-size:35px;
	font-weight: 500;
	margin: 0 0 35px 0;
	font-family: times;
}

.box input[type = "text"],.box input[type = "text"]{
	border: 0;
	background: Gainsboro;
	display: inline;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 100px;
	width: 500px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}


.box input[type="text"]:focus,.box input[type ="text"]:focus{
	width: 500px;
	background: white;
	border-color: #2ecc71;
}	

.box input[type = "submit"]{
	border: 0;
	background: #659EC7;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box input[type = "submit"]:hover{
	width: 200px;
	background: #2ecc71;
}

.register{
	text-align: center;
	margin: 10px 0;
}

.register a{
	color: #1F45FC;
	font-size: 15px;
	font-family: Verdana; 
	text-decoration: none;
}

.register:hover a{
	text-decoration: underline;
}

