@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
	background-image: url(../images/contact_us_background.jpg);
    background-size: cover;
	background-repeat: no-repeat;	
	margin: 0;
}
.box{
	width: 600px;
	padding: 40px;
	position: fixed;
	top: 20%;
	left: 500px;
	transform: translate(-50%,0%);
	text-align: center;
	z-index:999;
	box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.box h3{
	color: White;
	margin: 0 0 35px 0;
	font-family: "Montserrat";
    font-weight: 400;
    font-size: 40px;
}
.box input[type = "text"],.box input[type = "text"]{
	border: 0;
	background: Gainsboro;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 15px 50px;
	width: 500px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
}
#message_box{
	height: 150px;
}
.box input[type="text"]:focus,.box input[type ="text"]:focus{
	width: 500px;
	background: white;
	border-color: #2ecc71;
}	
.box input[type = "submit"]{
	border: 0;
	background: #659EC7;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
}

.box input[type = "submit"]:hover{
	width: 200px;
	background: #2ecc71;
}

.register{
	text-align: center;
	margin: 10px 0;
}

.register a{
	color: #1F45FC;
	font-size: 15px;
	font-family: Verdana; 
	text-decoration: none;
}

.register:hover a{
	text-decoration: underline;
}

