@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body,html{
	height:100%;
	margin:0;
	font-family: lato;
}

h2{
	margin-bottom: 0px;
	margin-top: 25px;
	text-align: center;
	font-weight: 200;
	font-size: 19px;
}