@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap{
	background: url(../images/checkout_bg.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center;
}
.rg{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	z-index:999;
	background: rgba(255,255,255,0.3);
	box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}


.rg h3{
	color: Black;
	text-transform: uppercase;
	font-size:25px;
	font-weight: 600;
	margin: 0 0 35px 0;
	font-family: "Montserrat";
}

.rg input[type = "text"],.rg input[type = "password"],.rg input[type= "email"],.rg input[type= "phone"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	font-family: "Montserrat";
}

.rg input[type = "text"]:focus,.rg input[type = "password"]:focus,.rg input[type= "email"]:focus,.rg input[type= "phone"]:focus{
	width: 280px;
	border-color: #2ecc71;
}	

.rg input[type = "submit"]{
	border: 0;
	background: #659EC7;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-family: "Montserrat"
}

.rg input[type = "submit"]:hover{
	width: 280px;
	background: #2ecc71;
}

.login{
	text-align: center;
	margin: 10px 0;
	font-family: "Montserrat"
}

.login a{
	color: #1F45FC;
	font-size: 15px;
	font-family: "Montserrat"; 
	text-decoration: none;
}

.login:hover a{
	text-decoration: underline;
}


.policy{
	text-align: center;
	margin: 10px 0;
	font-family: "Montserrat";
}

.policy a{
	color: #1F45FC;
	font-size: 15px;
	font-family: "Montserrat"; 
	text-decoration: none;
}

.policy:hover a{
	text-decoration: underline;
}













